body {
  color: white;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 0 auto;
  padding-top: 250px;
  color: #ffee93;
}

h2{
  font-weight: bolder;
  font-size: 2.75rem;
  font-family: 'Montserrat', sans-serif;
  color: #e45826;
}

h3{
  font-weight:bolder;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #f2a154;
}

a{
  color:white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover{
  color: #f2a154;
}

p{
  line-height: 2;
}

/* NOTE: NAVBAR */

.navbar-item{
  padding: 0 18px;
  font-size: 1.5rem;
}

/* NOTE: END */

/* NOTE: INTRO */
.top-container{
  margin: 0px;
  background: #151515;
  height: 49.25rem;
}

.intro{
  margin: 0 auto;
  width:50%;
  padding-bottom: 60px;
  display: inline-block;
  line-height: 2;
}

.geek{
  float: right;
  width: 35%;
  padding-top: 40%;
}

.prog{
  font-size: 2.25rem;
  color:#ffee93;
}

.pro {
  font-family: monospace;
  font-size: 2.5rem;
}

/* NOTE: END */

/* NOTE: ABOUT */
.akimg{
  padding-top: 5%;
  padding-bottom: 5%;
  height: 300px;
}

#about{
  background-color: #424642;
  padding: 2.5% 0 5%;
}

.about{
  padding-top: 5%;
  font-size: 20px;
  line-height: 2;
  text-align: justify;
}

.profile{
  margin: 0 auto;
  width:50%;
}

/* NOTE: END */

/* NOTE: SKILLS SECTION */

#skills{
  background-color: #464f41;
  padding: 5% 0 7%;
}

.skills{
  padding: 45px;
}

.skill-row{
  margin: 60px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.code{
  float: left;
  padding: 4%;
  width: 25%;
}

.skills-img{
  text-align: center;
  width: 12.5%;
  margin: 20px 0 20px;
}

.carousel-skills{
  text-align: center;
  padding-top: 1.5%;
}

.skills-text{
  padding-top: 1%;
  text-align: center;
  font-size: 1.25rem;
}

/* NOTE: END */

/* NOTE: Contact Section */

.contact-me{
  width: 30%;
  margin: 0px auto 0px auto;
  padding-top: 50px;
  padding-bottom: 75px;
  line-height: 2;
}

#contact{
  background-color: #424642;
  padding: 2.5% 0 2.5%;
}

.contact-text{
  padding:7% 0 2.5%;
  font-size: 18px;
  text-align: justify;
}


.flaticon{
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  background-color: #536162;
}

.mail{
  padding-top: 50px;
}

.bottom-container{
  padding-top: 10px;
}

.footer-link{
  padding: 10px;
}

.profile{
  padding: 45px;
}



.BUTTON_TQT {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #121013;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: bolder;
   padding: 10px;
   background-color: #f8dc81;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_TQT:hover {
   background: #e45826;
   border: solid #e45826 1px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
   color: white;
}

.work{
  padding-top: 20px;
}

.bottom-container{
  margin: 0;
  background-color: #536162;
}

.link{
  margin: 0;
  padding-top: 30px;
}

.copyrigth{
  color:#dddddd;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 12px;
}

/* NOTE: END */
